<style>
    .gist-meta a:nth-child(1) {display: none !important;}
    .gist .gist-file {border: unset !important;}
    .gist .gist-meta {background-color: unset !important;}
    .gist .gist-meta {text-align: right !important;}
    .pagination {max-width: 100% !important;}
    .pagination--pager {padding: 0.5em !important;}
    @media (min-width: 80em) {html {font-size: 18px !important;}} /*22px*/
    @media (min-width: 64em) {html {font-size: 18px !important;}} /*20px*/
    @media (min-width: 48em) {html {font-size: 18px !important;}} /*18px*/
</style>
