<style>
    .gist-meta a:nth-child(1) {display: none !important;}
    .gist .gist-file {border: unset !important;}
    .gist .gist-data {border-bottom: unset !important;}
    .gist .gist-meta {padding: 0 !important;}
    .gist .gist-meta {border-top: 0px solid #ddd !important; position: absolute !important; width: 98% !important; left: 1% !important;}
    .gist .gist-meta {background-color: unset !important;}
    .gist .gist-meta {text-align: right !important;}
    .gist .highlight {font-size: unset !important;}
    .pagination--pager {padding: 0.5em !important;}
    @media (min-width: 80em) {html {font-size: 18px !important;}} /*22px*/
    @media (min-width: 64em) {html {font-size: 18px !important;}} /*20px*/
    @media (min-width: 48em) {html {font-size: 18px !important;}} /*18px*/
</style>
