<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
<style>
    .gist-meta a:nth-child(1) {display: none !important;}
    .gist .gist-file {border: unset !important;}
    .gist .gist-data {border-bottom: unset !important;}
    .gist .gist-meta {border-top: 1px solid #f2f3f3 !important; position: absolute !important; width: 98% !important; left: 1% !important;}
    .gist .gist-meta {background-color: unset !important;}
    .gist .gist-meta {text-align: right !important;}
    .gist .highlight {font-size: unset !important;}

    .pagination--pager {padding: 0.5em !important;}
    .pagination li a {
    border: unset !important;
    border-radius: 10px !important;
    font-weight: unset !important;
    padding: 0.5em 0.9em !important;
    color: #3d4144;
    }
    * {font-family: 'Dongle', sans-serif !important;}
    @media (min-width: 80em) {html {font-size: 20px !important;}} /*22px*/
    @media (min-width: 64em) {html {font-size: 20px !important;}} /*20px*/
    @media (min-width: 48em) {html {font-size: 18px !important;}} /*18px*/
</style>
